In [ ]:
#1
* -> operator
'hello' -> value
-87.8 -> value
- operator
/ operator
+ operator
6 value

In [ ]:
#2
string is a value and variable is a name that will assign to a value

In [ ]:
#3
int --> postitve or negative whole numbers
string --> collection of characters within single or double quotes
list --> It's is collection of one or more types of objects , it is mutable and iterable object in python

In [ ]:
#4
expression made up of operators and operands

expression is a combination of variables, operations and value that gives a result value

In [ ]:
#5
statement is like assigning value to a variable or a function call and expression is a combination of variables, operations and value that gives a result value

In [ ]:
#6
bacon = 23

In [ ]:
#7
'spam'+'spamspam' and 'spam'*3 both will give same result
'spamspamspam'

#8
as per the naming convention variable name shouldn't start with a number that is why egg is valid variable name and 100 is invalid.

In [ ]:
#9
int()
float()
str()

In [2]:
#10
'''expression will cause TypeError beacuse integer is getting added with string
to fix that'''
'I have eaten' + str(99) + 'burritos.'

'I have eaten99burritos.'